section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-margin-top: 80px;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

section > * {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

#education {
  background: linear-gradient(45deg, #efedea, #ebe6e0);
  padding: 60px 20px;
}

h2 {
  color: #328072;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 40px;
  border-left: 6px solid #328072;
  padding-left: 20px;
  text-align: left;
}

.education-item {
  text-align: left;
  margin-bottom: 35px;
  padding-left: 2rem;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.education-item h4 {
  color: #a08a69;
  font-weight: 600;
  font-size: 1.5rem;
}

.education-item p {
  color: #b3a083;
  font-size: 1.2rem;
}
